<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homework1_alert-prompt-confirm</title>
</head>
<body>

<ul class="store">
    <li>
    </li>
    <li>
    </li>
    <li>
    </li>
</ul>
<!--<script src="./js/script.js"></script>-->
<!--<script src="./js/script2.js"></script>-->
<!--<script src="./js/script3.js"></script>-->
<script src="js/script4.js"></script>
{% comment %} <script src="js/script5.js"></script> {% endcomment %}
</body>
</html>